.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
}

.App > h1 {
  color: black;
}
.App > input {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 1rem;
  width: 14vw;
}
.App > input:focus {
  outline: none;
}

.flightContainer {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  margin-top: 1rem;
}

.flightCard {
  width: 70vw;
  height: 10vh;
  background-color: white;
  margin: 1rem;
}